


*{box-sizing: border-box; padding: 0;margin: 0; }


    body{font-family:" Open sans",sans-serif ;}


ul {list-style-type: none;display: flex;margin-bottom: 0;}


.container{margin:auto;}




 /* xs_mobile */
@media (max-width:400px)      
{
.container{width:90%;}
.landing { position: absolute;top:17%;}

    }
    

/*small */
@media (min-width:401px)      
{
.container{width:90%;}
.landing { position: absolute;top:21%;}

}

    
    
 /* medium  */ 
    @media  (min-width:501px)      
    {
        
        .container{width:90%;} 
        .landing { position: absolute;top:21%;}
        .search_box:hover > .search_text { display: flex; transition: 1s;}

    } 



    .xul{display: flex; flex-direction:column;justify-content: center;align-items: center;position:absolute;top:110px;left: 0;  width:100%;background: #04232b;border-radius: 8px;height:446px;cursor: pointer;margin: auto;animation: ussef 2s;z-index:3}
    
    .xli{padding: 30px 0px;}
    .xa{line-height: 1.3; font-size: 30px; color:red;}

    /* start header */
    
header{position: relative;z-index:2;background-color: black;}
header .container{position:relative;display: flex; align-items: center;justify-content: space-between;}
header .container::after{content:""; border-bottom:1.5px solid white; position: absolute;width:100%; bottom:0px}
header .container nav {width:100%;display:flex;flex-wrap: wrap;justify-content:flex-end; border-right: 2px solid white ;margin-right: 20px;}
header .container nav ul {padding-right: 10px}
header .container nav ul li a{transition: 0.3s;font-size:17px;font-weight: bold; text-decoration:none;padding:20px 12px;color:white;}
header .container nav ul li a:hover,header .container nav ul li a:active{color:#19c8fa;border-bottom: 1px solid #19c8fa;position:relative;z-index: 3;}


header .container nav .toggle-menu{ margin-right: 20px; font-size: 28px;cursor: pointer;color: white;}
    
 header .container .toggle-menu:active {font-size:29px ;transition: 0.2s;color:#19c8fa;} 

@media (max-width:990px){ nav ul {display: none;}}
@media (min-width:990px){.toggle-menu {display: none;}}


    @keyframes ussef{
        
        0%{opacity:0;transform: translateY(-100%)}
        To{opacity: 1;transform: none;}
    }

   
    
 /* end header */

.search_box2{width: 80%;height: 40px;position: absolute;top:64px; border-radius: 50px; background: #04232b;transform: translateX(13%)}
    
.search_text2{ border-radius:50px ;border:none;outline: none;padding:0 25px;font-size: 16px;color:#2f3640;  line-height: 40px; width: 94%;}
.fa-search:active{background-color: rgb(15 116 143 / 100%);cursor: pointer}
    
 
.search_box{background: #2f3640;height: 40px;border-radius: 40px;display: flex;flex-direction: row;}
    
.search_btn{color:white;float: right;width: 40px;height: 40px;border-radius:50% ;background-color: #04232b;display: flex;justify-content: center;align-items: center;transition:0.4s;border:2px solid white}

 .search_btn:hover{ background-color: rgb(15 116 143 / 100%);}  
.search_btn:active{ background-color: rgb(15 116 143 / 100%);}


    


    
    
    
/*landing*/

.cover{ position:relative;  width:100%;height:550px;background-size: cover; background-color: black;}
    
.cover .container{height: 100%;position: relative} 
 .landing {transition: 1s;text-align: center;}
    
.landing .text { padding: 20px  ; border-radius: 10px;transition: 1s;background-color:rgb(188, 188, 160) ;max-height: 445px}

    /*   background:rgb(15 116 143 /30%);*/

.landing .text h2 { cursor:pointer ;font-weight: bold;font-size: 28px;line-height: 1.3;margin-bottom: 20px;color:white}
.landing .text p  { cursor:pointer ;font-size: 19px;line-height: 1.7;color:black;text-align: justify;font-weight: bold; }

/*.landing .text:hover{ background-color: rgb(15 116 143 / 100%);opacity: 1;border-radius: 20px; color:white; }*/

/* icons */
.cover .icons {  cursor: pointer; width:100%; color:white;font-size:20px;justify-content: space-between;display: flex;position: absolute;top: 44%;z-index: 0}

.cover .icons i:active{color: rgb(15 116 143) ;}
/*end icons */

/* les boulles */
.boulles{ position: absolute; top:93%;left:50%;transform: translateX(-50%);}
 .boulles li { width:22px; height:22px;background-color:black;border:1px solid white;border-radius: 50%;margin: 0px 10px;cursor: pointer;}
 .boulles .active{background-color: rgb(15 116 143);}
/* les boulles */

/*services*/
.services{background-color: #fff;width: 100%;}
.services .container .head{ margin:auto ;   }
.services .container .head h1{font-weight: bold; text-align: center;color:black;padding:50px 0px;font-size: 40px;text-transform: uppercase;}
.services .container .head p{ text-align: center;color:#777777;line-height: 1.7;}


.services .head  h1:after{ content:'';border: 2px solid black; border-radius: 50%;width:15px;height: 15px;display: flex;position:absolute;left:49.5%;margin-top:10px;background: white;}
.services .head  h1 span{border-bottom: 2px solid black;padding-bottom: 20px;}

.services .container .main{ display:flex; flex-direction: row; flex-wrap: wrap;justify-content: center; margin: 40px 0}
.services .container .main .part{width: 330px;margin: 20px; 0 }
.services .container .main .part h3{ color:black;padding-left: 100px;color: #19c8fa;}
.services .container .main .part p{text-align: justify;color:#777777;line-height: 1.7;padding: 40px 10px 0 100px}
.services .container .main .part i{position: relative;top: 35px;}
    
  
    
.clear{clear: both;}
/* end services*/

    
     
    .couverture{  
        background-attachment: fixed;
        background-image: url("img/pexels-scott-webb-430205.jpg");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        width:100%;
        height: 500px
                }
    
    .couverture div{ width: 92% ;height:  300px; 
     margin: auto;display: flex;transform: translateY(36%);justify-content: space-between;flex-wrap: wrap;overflow-y: scroll}  
    
    .couverture div img{width:400px;height: 300px;padding: 10px}
    
/* design*/

.design{background: #252f31; width:100%;overflow: hidden;position: relative;}
.design .sidebar{background-color: #286f82;float:right;color:white;padding:35px;margin: 60px 0px;transition:2s;width:70%}
.design .sidebar h2{ font-weight: bold;padding-bottom:50px;}
.design .sidebar ul {display: block;font-size: 19px;}
.design .sidebar ul li{padding-bottom:20px ;cursor: pointer;}
    
.design .sidebar ul li a{text-decoration: none;color:white;}
.design .sidebar ul li a:hover{color:ghostwhite;text-decoration: underline;font-size: 20px}
.design .sidebar ul li a:active{color:blue;}
 

.design .sidebar ul li::before{content: "\f108";font-family: "Font Awesome 5 Free";font-weight: bold;margin-right: 20px;position: relative; top: 1px;    }

@media (max-width:700px){.design .sidebar{width:100%;float: left;}}
@media (min-width:701px){.design .sidebar{max-width:98%;float: right;}}
@media (min-width:901px){.design .sidebar{max-width:50%;float: right;}}

/* end design*/

/* start Portfolio*/
.portfolio{background-color: #fff;position:relative ;width:100%;padding:80px 0px; }
.portfolio .container .head{ margin:auto ;text-align: center;}
.portfolio .container .head h1{font-weight: bold;padding-bottom:65px;color:black;font-size: 40px;text-transform: uppercase;}
.portfolio .container .head p{ color:#777777;line-height: 1.7;}
.portfolio .container .head h1::after{content:'';border: 1px solid black;width:15px;height:15px;border-radius: 50%;background: white;position: absolute;margin-top:10px;left:49.5%;display: flex;}
.portfolio .container .head h1 span{border-bottom: 2px solid black;padding-bottom: 20px;}

.portfolio .container .article ul {display: flex;flex-direction: row; flex-wrap: wrap;justify-content: center; margin-top:40px}
.portfolio .container .article ul li{padding: 17px; color:black;background: white;cursor: pointer;font-family: cursive}
.portfolio .container .article ul .All{ color:white;background: #19c8fa;}

/* end Portfolio*/
    
/* stats */ 
    
    .stats{width:100%;background-color: #4c4c4c;}
    .stats .container article {display: flex;flex-wrap: wrap; padding:100px 50px;}
    .stats .container article .box{background:#21687b;min-width:25%;height:260px;align-items: center;display: flex;flex-direction: column;justify-content: center;text-align: center; }
      
    @media (max-width:620px){.stats .container article .box{width:100% ;min-width: 25%}   }
    
    @media (min-width:621px) {.stats .container article .box{width: 50%;justify-content: center;display: flex}   }

    @media (min-width:951px) {.stats .container article .box{width: 25%;}   }

    .stats .container .box i{color: white;background: black;border-radius: 50%;font-size: 30px;margin-bottom: 20px;padding:10px}
    .stats .container  .box .nbr{font-size: 50px;color: antiquewhite;margin-bottom: 20px;}
    .stats .container  .box p{font-size: 19px;color: white;padding:0 10px}

/* end stats */
    
    
    
    /* about-me */
    
    
    .about{width:100%;background: white;margin: 20px 0}
  
    
    .about .container .Education{text-align: center;padding: 10px;margin-bottom: 20px}
    
    .about .container .Education h1{font-weight: bold;margin-bottom:50px;font-size: 40px;text-decoration:underline}
    .about .container .Education p{text-align: justify; ;color:#777777;line-height: 1.6;}
    
    
    

  
    .about .container .Education  .one {border-bottom: 1px solid #777777;margin-left:15%;width: 80%;margin-bottom: 30px }
    .about .container .Education  .one p {text-align: justify;line-height: 1.6;padding: 20px 0}
    .about .container .Education  .one span {display: flex;float: right;color:#777777;padding:10px 0;font-size:15px;font-weight:bold}
    
    .about .container .Education .balls {margin:30px auto 0 auto;width:96px}
    .balls li{width:18px; height:18px;border:1px solid gray;border-radius: 50%;margin: 0px 7px;cursor: pointer;}
    .balls li.special{background:#19c8fa;}
  

    .about .container .skills{text-align: center;padding: 10px;text-decoration: underline}
    
    .about .container .skills h1{font-weight: bold;font-size: 40px;}
    .about .container .skills ul{display: block;margin-top: 30px}
    .about .container .skills li{ padding:20px 0 ;width:100%;display: flex;justify-content: center}
    
    .about .container .skills label{padding-top:5px;margin-right: 20px; width:31%;font-weight: bold;font-family:sans-serif;text-align: start}  
    .about .container .skills li progress{width:60%;height:30px;background:#e6e6e6;text-align: center;}  
    .about .container .skills li span{width:13%;height:30px;padding-top:5px;font-weight: bold;text-align: end}   
    progress::-webkit-progress-value {background: #19c8fa;}
    
    @media(max-width:910px){.about .container .Education{width:100%}}
    @media(max-width:910px){.about .container .skills{width:100%}}

    /* end about-me */
    
/*contact me*/
.contact{background-color: #252F31;}
.contact .container section{display: flex;flex-direction: row;flex-wrap: wrap;justify-content: space-between;padding: 30px 0}
    
.contact .info{width: 45%;padding-left: 10px;}
.contact h2{color:#FFF;margin-bottom: 40px }
.contact .info > p{color:#ededed;line-height:1.7;text-align: justify;font-weight: bold;font-size: 22px}
.contact .adress {color:#6A6E71;line-height:1.7;margin:60px 0}
.contact .info p strong{color:#D1D6DA;display:flex;flex-wrap: wrap}

.contact .imputs  {width: 45%;padding:0 10px;}
.contact .imputs label{display:block;color:#D1D6DA;margin:10px 0;}
.contact .imputs input[type="text"]{background-color:#4B5557;color:#FFF;padding:10px;border:0;margin-bottom:10px;width: 100%;border-radius: 3px;outline: none}
.contact .imputs input[type="email"]{background-color:#4B5557;color:#FFF;padding:10px;border:0;margin-bottom:10px;width: 100%;border-radius: 3px;outline: none}
.contact .imputs textarea{outline: none ;min-height: 200px; background-color:#4B5557;color:#FFF;padding:10px;border:0;margin-bottom:10px; border-radius: 3px;width:100%}
.contact .imputs button{background-color:#191E22;color:#D1D6DA;padding:10px ;border:0;margin-top:15px ;border-radius: 3px;font-size: 18px;font-family:serif;cursor: pointer}
    
.contact .imputs button:active{color:white;background: #4b5557; font-weight:500;}
    
    
    @media(max-width:700px){.contact .info{width: 100%;}}
    @media(max-width:700px){.contact .imputs{width: 100%;}}

/* end contact me*/

    
  /*footer*/
    
  .footer{background-color:#191E22;color:#6A6E71;padding:30px 0 20px 0;}
    
.footer .content{display: flex;flex-direction: column;align-items: center;}

  .footer  ul li{padding:20px 4px 0px 4px; cursor:pointer; }
    .footer  ul li i{font-size: 40px;color:white}
.footer  ul li i:hover{color:#cccccc;font-size: 41px}
  
  
  
/* end footer*/
